@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parrot Wings</h1>
    <p class="lead">The application is for Parrot Wings (PW, “internal money”) transfer between system users.</p>
    <p>@Html.ActionLink("Go to wallet", "Index", "Wallet", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
